<!DOCTYPE html>
<html>
<head>
  <title><%= @profile.name %>'s Ziwei Table</title>
  <style type="text/css">
    body {
      font-family: Roboto;
      margin: auto;
      width: 1120px;
    }
    td.center {
      text-align: center;
    }
    td.right {
      text-align: right;
    }
    td.main-stars {
      font-size: 0.9em;
      font-weight: bold;
      vertical-align: top;
    }
    td.good-stars, td.bad-stars {
      font-size: 0.75em;
      vertical-align: top;
    }

    td.top, td.bottom {
      font-size: 0.75em;
    }
    td.top, td.bottom.center {
      font-weight: bold;
    }
    td.top.left {
      font-size: 0.75em;
      font-weight: bold;
    }
    table.result-table {
      border-style: groove;
      border-color: darkgreen;
      border-spacing: 0px;
    }
    table.palace {
      background-color: lightyellow;
    }
    table.self.palace td.top.left, table.body.palace td.top.right {
      color: red;
    }
    td.bottom.right {
      color: blue;
    }
    td.bottom.left {
      color: grey;
    }
    div span {
      display: block;
    }
    div.center-info {
      margin: auto;
      width: 70%;
      line-height: 2.5em;
    }
  </style>
</head>
<body>
  <table class="result-table" border="1">
    <tr>
      <td><%= @rendered_palaces[:ty2] %></td>
      <td><%= @rendered_palaces[:ngo] %></td>
      <td><%= @rendered_palaces[:mui] %></td>
      <td><%= @rendered_palaces[:than] %></td>
    </tr>
    <tr>
      <td><%= @rendered_palaces[:thin] %></td>
      <td rowspan="2" colspan="2">
        <div class=center-info>
          <%
            age_gan_zhi = @profile.birth_year.inspect
            age_symbol = Ziwei::Configs::Wuxing::AgeSymbols[age_gan_zhi]
            age_element = Ziwei::Configs::Wuxing::AgeElements[age_gan_zhi]
            age_symbol_color_style = get_element_color_style(age_element)

            cuc_full_name = full_name(@profile.cuc_element, "Wuxing")
            cuc_element_color_style = get_element_color_style(@profile.cuc_element)
          %>

          <span>Tên: <b><%= @profile.name %></b></span>
          <span>Giờ sinh: <b><%= full_name(@profile.birth_hour, "Branches") %></b></span>
          <span>
            Ngày sinh: 
            <b><%= @profile.birth_day %></b>
             tháng 
            <b><%= full_name(@profile.birth_hour, "Branches") %></b>
             năm 
            <b><%= @profile.birth_year.inspect %></b>
          </span>
          <span>Bản mệnh: <b style='<%= age_symbol_color_style %>'><%= age_symbol %></b></span>
          <span>
            Cục: 
            <b style='<%= cuc_element_color_style %>'>
              <%= cuc_full_name %> (<%= @profile.cuc_number %>)
            </b>
          </span>
        </div>
      </td>
      <td><%= @rendered_palaces[:dau] %></td>
    </tr>
    <tr>
      <td><%= @rendered_palaces[:mao] %></td>
      <td><%= @rendered_palaces[:tuat] %></td>
    </tr>
    <tr>
      <td><%= @rendered_palaces[:dan] %></td>
      <td><%= @rendered_palaces[:suu] %></td>
      <td><%= @rendered_palaces[:ty] %></td>
      <td><%= @rendered_palaces[:hoi] %></td>
    </tr>
  </table>
</body>
</html>