<table class="palace <%= @configs[:name] == 'Mệnh' ? 'self' : '' %> <%= @configs[:body] == 'Thân' ? 'body' : '' %>" width="280px" height="160px">
  <tr height="15%">
    <td width="30%" class="top left"><%= @configs[:name] %></td>
    <td width="40%" class="top center empty"></td>
    <td width="30%" class="top right"><%= @configs[:body] %></td>
  </tr>
  <tr height="15%">
    <td></td>
    <td rowspan="2" class="center main-stars">
      <div>
        <%=
          @configs[:main_stars].map {|star|
            "<span class='main-star' style='#{get_place_quality_color_style(star)}'>#{star}</span>"
          }.join
        %>
      </div>
    </td>
    <td></td>
  </tr>
  <tr height="55%">
      <%=
        %w[good bad].map {|quality|
          alignments = {
            "good" => "left",
            "bad" => "right"
          }

          content = @configs["#{quality}_stars".to_sym].map {|star|
            "<span class='#{quality}-star'>#{star}</span>"
          }.join

          "<td class='#{alignments[quality]} #{quality}-stars'><div>#{content}</div></td>"
        }.join("\n")
      %>
    <!-- <td class="left good-stars">
      <%= @configs[:good_stars].map {|star| "<span class='good-star'>#{star}</span>"}.join("<br />") %>
    </td>
    <td class="right bad-stars">
      <%= @configs[:bad_stars].map {|star| "<span class='bad-star'>#{star}</span>"}.join("<br />") %>
    </td> -->
  </tr>
  <tr height="15%">
    <td class="bottom left"><%= @configs[:position] %></td>
    <td class="bottom center"><%= @configs[:trang_sinh_constellation] %></td>
    <td class="bottom right"><%= @configs[:opportunity_age] %></td>
  </tr>
</table>