<div class=center-info>
  <%
    age_gan_zhi = @profile.birth_year.inspect
    age_symbol = Ziwei::Configs::Wuxing::AgeSymbols[age_gan_zhi]
    age_element = Ziwei::Configs::Wuxing::AgeElements[age_gan_zhi]
    age_symbol_color_style = get_element_color_style(age_element)

    cuc_full_name = full_name(@profile.cuc_element, "Wuxing")
    cuc_element_color_style = get_element_color_style(@profile.cuc_element)
  %>

  <span>Tên: <b><%= @profile.name %></b></span>
  <span>Giờ sinh: <b><%= full_name(@profile.birth_hour, "Branches") %></b></span>
  <span>
    Ngày sinh: 
    <b><%= @profile.birth_day %></b>
     tháng 
    <b><%= full_name(@profile.birth_hour, "Branches") %></b>
     năm 
    <b><%= @profile.birth_year.inspect %></b>
  </span>
  <span>
    Bản mệnh: 
    <b style='<%= age_symbol_color_style %>'><%= age_symbol %></b>
     (<%= @profile.yinyang_gender %>)
  </span>
  <span>
    Cục: 
    <b style='<%= cuc_element_color_style %>'>
      <%= cuc_full_name %> (<%= @profile.cuc_number %>)
    </b>
  </span>
</div>